<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100722415627-697oc6eucqolumjhj9ink24o5e636nsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100722415627-697oc6eucqolumjhj9ink24o5e636nsc</string>
	<key>API_KEY</key>
	<string>AIzaSyAG-MTdMIEtN3cwBnmT51r3e6twpGpCg3w</string>
	<key>GCM_SENDER_ID</key>
	<string>100722415627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lolTeamAppDeneme</string>
	<key>PROJECT_ID</key>
	<string>lolteamd</string>
	<key>STORAGE_BUCKET</key>
	<string>lolteamd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100722415627:ios:dd31db894e8e0108eb0f0e</string>
	<key>DATABASE_URL</key>
	<string>https://lolteamd-default-rtdb.firebaseio.com</string>
</dict>
</plist>